<!-- ### BARRA NEVAGAÇÃO ### -->
<div ng-controller="HeaderController as vm" ng-init="vm.iniciar()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-5 mb-3">
        <i class="material-icons md-36 mr-1" aria-hidden="true">time_to_leave</i>
        <a class="navbar-brand">AutoLocadora App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link c-pointer" ng-click="vm.go('/home')"
                       ng-class="{'active': page === 'home'}">
                        Home
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item">
                    <a class="nav-link c-pointer mr-2" ng-click="vm.go('/clientes')"
                       ng-class="{'active': page === 'clientes'}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" ng-click="vm.go('/alugar')"
                       ng-class="{'active': page === 'alugar'}">Alugar</a>
                </li>
            </ul>
        </div>
    </nav>
</div>