<div ng-controller="HomeController as vm" class="container" ng-init="vm.iniciar()">
    <h1>HOME</h1>
    <p>
        Bem-Vindo a
        <strong class="text-info">AutoLocadoraApp</strong>!
        O melhor App para alugar um automóvel.
    </p>

    <div class="col-12 col-sm-12 col-md-12">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Alugar com:</span>
            </div>
            <select id="cliente" class="custom-select"
                ng-options="cliente as cliente.nome for cliente in vm.listaClientes track by cliente.id"
                ng-model="vm.clienteSelecionado"></select>
        </div>
    </div>

    <h2 class="mt-5">Nosso Catálogo</h2>
    <hr class="mt-1 bg-primary">
    <div class="row">
        <div class="col-4" ng-repeat="carro in vm.listaCarros track by $index">
            <div class="card mb-4" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">
                        {{carro.modelo}}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{carro.marca}}
                    </h6>
                    <p>
                        <strong>Ano: </strong> {{carro.ano}} &nbsp; | &nbsp;
                        <strong>Placa: </strong> {{carro.placa | placaComHifen}}
                    </p>
                    <div ng-if="vm.clienteSelecionado">
                        <a ng-if="!carro.alugado && !vm.clienteSelecionado.placaCarro" ng-click="vm.alugar(carro.placa)" class="btn btn-primary text-center">Alugar</a>
                        <strong ng-if="carro.alugado && carro.idCliente !== vm.clienteSelecionado.id">INDISPONÍVEL, ALUGADO POR {{ carro.nomeCliente }}</strong>
                        <a ng-if="carro.alugado && carro.idCliente === vm.clienteSelecionado.id" ng-click="vm.devolver()" class="btn btn-danger text-center">Devolver</a>
                    </div>
                    <div ng-if="!vm.clienteSelecionado">
                        <small>Selecione um cliente para manipular carros</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>